<%= image_tag @post.photo.url(:medium) %>
<p><%= @post.caption %></p>

<p>Tags: <%= raw(@post.tag_list.map { |t| link_to t, tag_path(t)  }.join(', ')) %></p>

<%= render @post.comments %>

<%= render 'comment_form' %>
